@import 'tailwindcss';

@theme {
  /* porting  neon from config old */
  --color-neon-blue: #00f2ff;
  --color-neon-pink: #ff007f;

  /* fonts */
  --font-sans: 'Inter Variable', system-ui, sans-serif;
  --font-mono: 'JetBrains Mono Variable', monospace;
}

/* base style */
@layer base {
  body {
    @apply bg-gray-900 text-gray-100 antialiased;
  }
}
