---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Beranda | FOURFO">
  <div class="flex flex-col items-center justify-center space-y-4 pt-10">
    <h1 class="text-4xl font-bold text-neon-blue">Ready!</h1>
    <p class="text-lg text-gray-300">Test Astro Import</p>
  </div>
</MainLayout>